[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]



[packages]

cherrypy = "*"
requests = "*"
cvtron = "*"
autoflake = "*"
yapf = "*"
isort = "*"
logbook = "*"
celery = {extras = ["sqs"]}
redis = "*"
flower = {editable = true, git = "https://github.com/unarxiv/flower"}
tornado = "*"
paste = "*"
pycocotools = "*"


[requires]

python_version = "3.5"
